.splash {
  width: 1194px;
  height: 834px;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.splash-logo {
  width: 559px;
  height: auto;
}
